%h3 Select your Route:
- @routes['results'].sort_by{ |k| k['name'].split.last.to_i }.each_with_index do |r,i|
  = link_to r['name'].split.last, route_path(r['cdk_id']), :class => "btn btn-small"

= @routes.inspect